<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="md-arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="ion-padding">

    <ion-card class="ion-padding">
      <ion-card-content>

        <h2>Hello,</h2>

        <p>
          Lorem ipsum dolor sit amet
          Fugit repudiandae officia ducimus minus veritatis
          commodi officiis accusantium impedit voluptates,
          tempora consectetur in dolor rem molestiae
          Incidunt commodi odio nesciunt veniam
          Lorem ipsum dolor sit amet
          Fugit repudiandae officia ducimus minus veritatis
          commodi officiis accusantium impedit voluptates,
          tempora consectetur
        </p>

        <br>

        <ion-button shape="round" expand="block">Continue</ion-button>
      </ion-card-content>
    </ion-card>

  </div>


</ion-content>
