<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Dev. Lab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-slides pager="false" [options]="slideOpts" >
      <ion-slide class="ion-padding">

        <ion-card class="ion-padding card1">
          <ion-card-content>

            <h2>Hello,</h2>

            <p>
              Lorem ipsum dolor sit amet
              Fugit repudiandae officia ducimus minus veritatis
              commodi officiis accusantium impedit voluptates,
              tempora consectetur in dolor rem molestiae
              Incidunt commodi odio nesciunt veniam
              Lorem ipsum dolor sit amet
              Fugit repudiandae officia ducimus minus veritatis
              commodi officiis accusantium impedit voluptates,
              tempora consectetur
            </p>

            <br>

            <ion-button shape="round" expand="block" routerLink="/u2">Continue</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-slide>
      <ion-slide class="ion-padding">

        <ion-card class="ion-padding card2">
          <ion-card-content>

            <h2>Hi There,</h2>

            <p>
              Lorem ipsum dolor sit amet
              Fugit repudiandae officia ducimus minus veritatis
              commodi officiis accusantium impedit voluptates,
              tempora consectetur in dolor rem molestiae
              Incidunt commodi odio nesciunt veniam
              Lorem ipsum dolor sit amet
              Fugit repudiandae officia ducimus minus veritatis
              commodi officiis accusantium impedit voluptates,
              tempora consectetur
            </p>

            <br>

            <ion-button shape="round" expand="block" routerLink="/u2">Continue</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-slide>
      <ion-slide class="ion-padding">

        <ion-card class="ion-padding card3">
          <ion-card-content>

            <h2>Hi There,</h2>

            <p>
              Lorem ipsum dolor sit amet
              Fugit repudiandae officia ducimus minus veritatis
              commodi officiis accusantium impedit voluptates,
              tempora consectetur in dolor rem molestiae
              Incidunt commodi odio nesciunt veniam
              Lorem ipsum dolor sit amet
              Fugit repudiandae officia ducimus minus veritatis
              commodi officiis accusantium impedit voluptates,
              tempora consectetur
            </p>

            <br>

            <ion-button shape="round" expand="block" routerLink="/u2">Continue</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-slide>
    </ion-slides>


</ion-content>
